In [1]:
#importing all libraries
import pandas as pd 
import numpy as np 
import seaborn as sns 
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [24]:
#creating dataframe for team_stats
stats_df = pd.read_csv("team_stats_2003_2023.csv")

In [16]:
stats_df.head()

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
0,2003,New England Patriots,14,2,0.875,348,238,110,6.9,16,...,9,3.4,91,111,998,26,27.9,11.3,-136.51,NaN
1,2003,Miami Dolphins,10,6,0.625,311,261,50,3.1,16,...,14,3.7,99,103,913,22,28.1,17.2,-177.92,NaN
2,2003,Buffalo Bills,6,10,0.375,243,279,-36,-2.3,16,...,13,3.9,96,106,891,22,21.9,17.6,-230.07,NaN
3,2003,New York Jets,6,10,0.375,283,299,-16,-1.0,16,...,8,4.0,78,69,550,15,32.4,11.8,-107.89,NaN
4,2003,Baltimore Ravens,10,6,0.625,391,281,110,6.9,16,...,18,4.8,115,126,970,23,31.8,16.6,-220.50,NaN

In [26]:
stats_df.isnull().sum()

year                      0
team                      0
wins                      0
losses                    0
win_loss_perc             0
points                    0
points_opp                0
points_diff               0
mov                     320
g                         0
total_yards               0
plays_offense             0
yds_per_play_offense      0
turnovers                 0
fumbles_lost              0
first_down                0
pass_cmp                  0
pass_att                  0
pass_yds                  0
pass_td                   0
pass_int                  0
pass_net_yds_per_att      0
pass_fd                   0
rush_att                  0
rush_yds                  0
rush_td                   0
rush_yds_per_att          0
rush_fd                   0
penalties                 0
penalties_yds             0
pen_fd                    0
score_pct                 0
turnover_pct              0
exp_pts_tot               0
ties                    352
dtype: int64

In [28]:
#dropping unnecessary columns
stats_df.drop(columns = ['year'], inplace = True)
stats_df.drop(columns = ['team'], inplace = True)
stats_df.drop(columns = ['ties'], inplace = True)
stats_df.drop(columns = ['mov'], inplace = True)

In [30]:
stats_df.head()

,wins,losses,win_loss_perc,points,points_opp,points_diff,g,total_yards,plays_offense,yds_per_play_offense,...,rush_yds,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot
0,14,2,0.875,348,238,110,16,5039,1042,4.8,...,1607,9,3.4,91,111,998,26,27.9,11.3,-136.51
1,10,6,0.625,311,261,50,16,4609,968,4.8,...,1817,14,3.7,99,103,913,22,28.1,17.2,-177.92
2,6,10,0.375,243,279,-36,16,4348,980,4.4,...,1664,13,3.9,96,106,891,22,21.9,17.6,-230.07
3,6,10,0.375,283,299,-16,16,4951,936,5.3,...,1635,8,4.0,78,69,550,15,32.4,11.8,-107.89
4,10,6,0.625,391,281,110,16,4929,1009,4.9,...,2674,18,4.8,115,126,970,23,31.8,16.6,-220.50

wins                      0
losses                    0
win_loss_perc             0
points                    0
points_opp                0
points_diff               0
mov                     320
g                         0
total_yards               0
plays_offense             0
yds_per_play_offense      0
turnovers                 0
fumbles_lost              0
first_down                0
pass_cmp                  0
pass_att                  0
pass_yds                  0
pass_td                   0
pass_int                  0
pass_net_yds_per_att      0
pass_fd                   0
rush_att                  0
rush_yds                  0
rush_td                   0
rush_yds_per_att          0
rush_fd                   0
penalties                 0
penalties_yds             0
pen_fd                    0
score_pct                 0
turnover_pct              0
exp_pts_tot               0
dtype: int64